@font-face {
    font-family: MyFont;
    font-weight: normal;  /* Specify the normal weight */
    src: url(fonts/DMSans-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: MyFont;
    font-weight: bold;
    src: url(fonts/DMSans-VariableFont_opsz,wght.ttf);
}

body {
    font-family: MyFont !important;
}


